<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>api_back</key>
	<string>https://festival-jeu-mtp-419077cc35e8.herokuapp.com/</string>
	<key>api_back_local</key>
	<string>http://192.168.1.54:3000/</string>
	<key>local</key>
	<string>0</string>
</dict>
</plist>
